{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

    <div class="container">


        <div class="wrapper fadeInDown" style="margin-top: 80px;margin-bottom: 80px">

            {% if login_form.user_name.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ login_form.user_name.errors }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% if login_form.password.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ login_form.password.errors }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first" style="height: 50px">

                </div>

                <!-- Login Form -->
                <form method="post">
                    {% csrf_token %}

                    {{ login_form.user_name }}


                    <input type="password" id="password" class="fadeIn third pass" name="password"
                           placeholder="رمز خود را وارد نمایید">
                    <input type="submit" class="btn btn-primary fadeIn fourth " value="ورود به حساب کاربری">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">در صورت فراموشی رمز با مدیریت زبانکده تماس حاصل فرمایید</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
