<!-- Modal COURSE -->
<div
  class="modal fade"
  id="P"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ویرایش اطلاعات</h5>
        <button
          style="position: fixed; left: 25px"
          type="button"
          class="close text-left"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 1rem 3rem 3rem 3rem">
        <form action="{% url 'edit_course_via_modal' %}" method="POST">
          {% csrf_token %}

          <input id="c_name" class="form-control" />

          <div class="form-group mt-3 text-right">
            <label for="exampleFormControlSelect1">کد کلاس :</label>

            <input id="c_id" class="form-control" value="55" />
          </div>

          <div class="form-group mt-2 text-right">
            <label for="exampleFormControlSelect1">دبیر :</label>
            <select
              name="teacher"
              class="form-control"
              id="ITeacherSelect"
             
            ></select>
          </div>


          <div class="form-group mt-2 text-right">
            <label for="exampleFormControlSelect1">کلاس بعدی :</label>
            <select
              name="next_course"
              class="form-control"
              id="INextCourse"
             
            ></select>
          </div>

          <div class="form-check text-center pt-2">
            <input
              name="is_active"
              class="form-check-input"
              type="checkbox"
              id="IIsActive"
            />
            <label class="form-check-label pb-2" for="defaultCheck1">
              کلاس فعال هست؟
            </label>
          </div>

          <div class="modal-footer text-left pt-3">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              لغو
            </button>
            <button type="submit" class="btn btn-success mr-3">
              ذخیره اطلاعات
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
