<!DOCTYPE html>
{% load static %}
<html lang="en">

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">



  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link rel="stylesheet" href="{% static 'css/rtl-bootstrap.css' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center ">
    <div class="hero-container" data-aos="fade-in">
      <h1 class="ml-5">Aysan Eshraghi</h1>
      <p class="ml-5">I'm <span class="typed" data-typed-items="Designer, Programmer, Engineer, Teacher"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About me</h2>

        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/20200827_180758.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>آیسان هستم!</h3>
            <p class="text-justify">
                  این صفحه جهت آشنایی بیشتر با سازنده این وبسایت،ایجاد شده و در ادامه میتوانید به رزومه دسترسی داشته باشید،
                 برای درخواست پروژه میتوانید از فرمی که آخر همین صفحه قرار دارد استفاده کنید و یا مستقیما با شماره تماس و یا با ایمیل با من در ارتباط باشید.


            </p>
            <div class="row">
              <div class="col-lg-6 text-right">
                <ul>
                  <li><i class="icofont-rounded-double-left"></i> <strong>تاریخ تولد</strong> 11/7</li>
                  <li><i class="icofont-rounded-double-left"></i> <strong>وبسایت فعلی</strong> www.esteglal-sahand.ir</li>
                  <li><i class="icofont-rounded-double-left"></i> <strong>تلفن تماس</strong> 989337814796</li>
                  <li><i class="icofont-rounded-double-left"></i> <strong>شهر</strong> ایران،تبریز،اسکو</li>
                </ul>
              </div>
              <div class="col-lg-6 text-right">
                <ul>
                  <li><i class="icofont-rounded-double-left"></i> <strong>سن</strong> 23</li>
                  <li><i class="icofont-rounded-double-left"></i> <strong>مدرک</strong> کارشناسی</li>
                  <li><i class="icofont-rounded-double-left"></i> <strong>رشته تحصیلی</strong> مهندسی برق</li>
                  <li><i class="icofont-rounded-double-left"></i> <strong>ایمیل</strong> eshraghi.aysan@gmail.com</li>
                </ul>
              </div>
            </div>
            <p class="text-justify">
             ورودی سال 96 دانشگاه صنعتی سهند هستم و رشته تحصیلیم مهندسی برق هست،ابتدای سال تحصیلی دانشگاهی با آشنایی با زبان برنامه نویسی C برای اولین بار
                وارد حوزه برنامه نویسی شدم و پس از مدتی شروع به کار با یک نرم افزار آزمایشگاهی کردم و سال 97 به عنوان پشتیبانی همین نرم افزار فعالیت می کردم که این پروسه باعث اشنایی هرچه بیشتر با ساختار های ابتدایی از جمله دیتابیس شد . همچنین در سال 97 در آموزشگاه استقلال در شهرجدید سهند،تبریز شروع به کار کردم و در حال حاضر در همین آموزشگاه مشغول به تدریس زبان انگلیسی هستم. در سال 99 همزمان با شروع اپیدمی کرونا،شروع به یادگیری زبان برنامه نویسی پایتون کردم
                و وبسایتی که در حال حاضر در حال فعالیت هست با همین زبان نوشته شده است،در طی همین دوره با یادگیری زبان پایتون پس از طراحی نرم افزار ویندوز شروع به یادگیری جنگو
                کردم و این شروع یادگیری HTML,CSS,JS,BOOTSTRAP
                را نیز در پی داشته و پروژه فعلی حاصل تلفیق همین زبان هاست.
                همچنین در چند ماه اخیر به خاطر بیماری کرونا که مارا وادار به راه اندازی کلاس های مجازی کرد، و در حال حاضر زبان آموزان و دبیران میتوانند از طریق وبسایت استقلال اقدام به شرکت
                در کلاس مربوطه کنند. برای راه اندازی وبسایت و یا سرور مختص زبانکده خودتان نیز میتوانید با بنده در ارتباط باشید.

              </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>توانایی ها</h2>

        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">زبان انگلیسی <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">مبانی پایتون <i class="val">99%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">جاوااسکریپت <i class="val">20%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">MySql <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">AltiumDesigner <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Arduino <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">جنگو <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">PyQt5 <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML/Bootstrap4 <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">اسمبلی<i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Plc<i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Kivy<i class="val">45%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>رزومه</h2>

        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">مهندسی برق</h3>
            <div class="resume-item pb-0">
              <h5>1396-1400</h5>
              <p><em>
                 با مجازی شدن آموزش دانشگاهی،از جنبه عملی بودن آزمایشگاه ها کاسته و بیشتر به صورت نرم آفزاری شروع به کار کردیم که این
                  خود باعث شد تا کار با نرم افزار های مختلف و زبان های برنامه نویسی مختلف را یاد بگیرم و در ادامه به این موارد اشاره گردیده است:
              </em></p>
              <ul>
                <li>آشنایی با نرم افزار های PLC و همچنین شبیه سازی قطعات در حوزه اتوماسیون صنعتی</li>
                <li>آشنایی و کار با AltiumDesigner و طراحی برد و مدار های چاپی</li>
                <li>یادگیری زبان آردوینو و طراحی و راه اندازی مدار هایی که مستقیما از آردوینو
                    دستور میگیرند به خصوص سیستم های کنترلی(تجربه کار عملی در همین حوزه را دارم)</li>
                  <li>کار با سیستم های دیجیتالی و میکرو و راه اندازی مدارات که از میکرو دستور میگیرند با استفاده از زبان های برنامه نویسی C و اسمبلی</li>
                  <li>آشنایی و کار با نرم افزار متلب به خصوص در حوزه سیستم های  کنترلی و شبیه سازی اجزای قدرت</li>
                  <li>آشنایی و کار با نرم افزار Pscad و شبیه سازی سیستم های قدرت</li>


              </ul>
            </div>

            <h3 class="resume-title">زبان های خارجی</h3>

            <div class="resume-item">

                <h5>1397 - تا الآن</h5>
              <p><em>به عنوان دبیر در آموزشگاه استقلال سهند مشغول به تحصیل هستم که توضیحات مربوط زیر نوشته شده است.</em></p>


              <p>سال 1394 شروع به یادگیری زبان انگلیسی در آموزشگاه کانون زبان ایران کردم و پس از 4سال یادگیری موفق به دریافت مدرک advanced از همین
              آموزشگاه شدم و پس از یکسال شروع به تدریس سطح های TOpNotch به خصوص برای نوجوانان کردم،همچنین سابقه تدریس خصوصی به صورت حضوری و آنلاین نیز در کارنامه خود دارم.
              یکی از علایق اصلیم خواندن کتاب های زبان اصلی هست که میتوان گفت بیشترین تاثیر در یادگیری این زبان برایم داشته و خواهد داشت.
              همچنین از دوران کودکی به زبان ترکی استانبولی آشنا بودم و با گذشت زمان به آشنایی و تسلطم در این زبان افزوده شده و حال با تسلط کامل قادر
              نوشتن و خواندن و صحبت به هردو زبان خارجی هستم.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">تجربه</h3>
            <div class="resume-item">
              <h4>مسلط به زبان برنامه نویسی پایتون</h4>
              <h5>1399 - Present</h5>
              <p><em>با وجود اینکه زمان کمی از شروع یادگیری زبان برنامه نویسی میگذرد ولی با انجام پروژه های متعدد و کسب رضایت کاربران روز به روز به تجربه و اطلاعاتم افزوده میشود، قسمت زیر
              چند ویژگی از پروژه های اخیر هست که میتوانید مشاهده کنید که قطعا محدود به اینها نخواهد بود.</em></p>
              <ul>
                  <li>طراحی وبسایت و وب اپلیکیشن با نظر و تصمیم خود کاربر به صورت Responsive </li>
                  <li>ایجاد پنل های کاربری جداگانه برای اعضا و یا مدیران سایت</li>
                  <li>طراحی کاملا ساده و در عین حال کاربر پسند</li>
                  <li>با رعایت تمامی قوانین امنیتی داده و اطلاعات و داده های کاربران در امن خواهد بود</li>
                  <li>با راه اندازی وبسایت های فروشگاهی ، امکان خرید محصولات توسط کاربران فراهم گردیده</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>ارتباط با من</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>ایران،تبریز،اسکو</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>eshraghi.aysan@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+98 9337814796</p>
              </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50370.0247792611!2d46.09104883510776!3d37.90410466226268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a6b8d6041d995%3A0x5d443da572764e6c!2sOsku%2C%20East%20Azerbaijan%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1618398517332!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>


            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>