{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}




    <!-- header element -->
    <header class="header" id="header">
        <div class="container-fluid">
            <div class="row height-max align-items-center">
                <div class="col-md-9 ml-auto text-right pr-5">

                </div>

            </div>
        </div>
    </header>


    <!-- end header element -->

    <!-- skill -->



    <section class="skilld py-5" id="skills">
        <div class="container">
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1"> Language Center</h1>
                    <h1 class="section-title-special mx-1">esteglal</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 text-center my-3">

                    <a href="/register" class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-users fa-fw"></i>
                    </a>
                    <br>
                    <br>
                    <h6 class="text-uppercase font-weight-bold">مناسب برای همه</h6>
                    <div class="skills-undrline"></div>
                    <p class="w-75 mx-auto text-muted text-justify">برگزاری کلاسها در تمامی سطوح
                        خردسالان،کودکان،نوجوانان و بزرگسالان بصورت گروهی یا خصوصی،آنلاین یا حضوری
                    </p>

                </div>
                <div class="col-sm-6 col-lg-3 text-center my-3">

                    <a href="/register" class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-comment fa-fw"></i>
                    </a>
                    <br>
                    <br>
                    <h6 class="text-uppercase font-weight-bold">پشتیبانی</h6>
                    <div class="skills-undrline"></div>
                    <p class="w-75 mx-auto text-muted text-justify">در آموزش مجازی دبیران مجرب همه روزه از پلتفرم ها
                        مختلف در دسترس خواهند بود تا به سوالات یا اشکالات زبان آموزان در اسرع وقت و به بهترین نحو پاسخ
                        داده شود</p>

                </div>
                <div class="col-sm-6 col-lg-3 text-center my-3">

                    <a href="/register" class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-people-carry fa-fw"></i>
                    </a>
                    <br>
                    <br>
                    <h6 class="text-uppercase font-weight-bold">اعتماد</h6>
                    <div class="skills-undrline"></div>
                    <p class="w-75 mx-auto text-muted text-justify">با تاکید اساسی به مکالمه در طول کلاس ها به همراه
                        اموزش جامع گرامر و لغات دیگر نگران سطح زبانتان نخواهید بود،اعتماد کنید و از پیشرفتتان لذت
                        ببرید</p>

                </div>
                <div class="col-sm-6 col-lg-3 text-center my-3">

                    <a href="/register" class="skills-icon p-2 rounded-circle">
                        <i class="fas fa-wallet fa-fw"></i>
                    </a>
                    <br>
                    <br>

                    <h6 class="text-uppercase font-weight-bold">شهریه مناسب</h6>
                    <div class="skills-undrline"></div>
                    <p class="w-75 mx-auto text-muted text-justify">هزینه هر ترم برای سطوح های مختلف متفاوت است با این
                        حال به راحتی میتوانید شهریه زبانکده استقلال را با دیگر زبانکده ها مقایسه و تصمیم بگیرید</p>

                </div>
            </div>

        </div>
    </section>

    <!--end skill -->


    <div class="section level-background py-5">
        <div class="container">

        </div>
    </div>



    <!-- ======= Services Section ======= -->
    <section id="services" class="services mx-">
        <div class="container mx-auto">

            <div class="row mb-5 my-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1"> چرا زبانکده</h1>
                    <h1 class="section-title-special mx-1">استقلال</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="fa fa-window-restore"></i></div>
                    <h4 class="title"><a> بکارگیری به روزترین روش های تدریس زبان انگلیسی</a></h4>
                    <p class="description text-justify">ما همیشه به دنبال راه بهتری برای تدریس هستیم. تعداد روش های
                        تدریس زبان انگلیسی زیاد هست و شرایط یادگیری و انسان ها با هم متفاوتند اما با این وجود زبانکده
                        استقلال، متناسب با سطح هر فرد روش های نوین و کاربردی را پیش می‌گیرد.</p>

                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-users "></i></div>
                    <h4 class="title"><a>کادر آموزشی جوان و حرفه‌ای </a></h4>
                    <p class="description text-justify">اساتید مجرب و با انگیزه، توجه خاص به سیستم و کیفیت آموزشی،
                        امکانات و محیط آموزشی مناسب را در این آموزشگاه فراهم کرده است </p>


                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-check-square "></i></div>
                    <h4 class="title"><a>سیستم تضمین کیفیت آموزشی</a></h4>
                    <p class="description text-justify">زبانکده استقلال دارای سابقه درخشان در زمینه آموزش زبان انگلیسی
                        با اساتید تحصیل کرده در منزل و محل کار و نیز آموزشگاه آماده ارائه خدمات می باشد.  کانون زبان استقلال خود را موظف میداند تا دانش آموزان خود را در هر ۴ مهارت به استاندارهای لازم برساند .</p>

                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="fas fa-file"></i></div>
                    <h4 class="title"><a>برگزاری آزمون جامع کتبی بعد از پایان هرکتاب </a></h4>
                    <p class="description text-justify">بعد از پایان هر کتاب آزمونی گرفته میشود تا در صورت وجود ضعف در
                        هر یک از مهارتها با آموزشهای لازم فراگیر را به استاندارهای مشخص ان سطح برسانیم</p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="fa fa-comment"></i></div>
                    <h4 class="title"><a href="">ارائه خدمات آموزشی متناسب با نیاز شما </a></h4>
                    <p class="description">
                        زبانکده استقلال قبل از ثبت نام با مصاحبه حضوری و یا غیرحضوری و گرفتن آزمون تعیین سطح،بهترین و
                        متناسب ترین کلاس را برای سطح زبان شما انتخاب می‌کند.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="fas fa-calendar"></i></div>
                    <h4 class="title"><a> برنامه آموزشی مشخص و مخصوص هر ترم </a></h4>
                    <p class="description text-justify">با در نظر گرفتن سطح دروس آموزشی در کلاسها برای هر یک از ترم ها
                        به صورت مجزا برنامه خاصی در نظر گرفته شده و تمامی ترم ها بر حسب برنامه خاص خود در حال برگزاری
                        هستند.</p>


                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="fas fa-bars "></i></div>
                    <h4 class="title"><a>کلاسهای کم جمعیت </a></h4>
                    <p class="description text-justify">با ارائه کلاس های کم جمعیت، حداقل 8نفر در کلاس های حضوری و 5نفر
                        در کلاس های آنلاین، شرایط و محیط نیمه-خصوصی جهت افزایش کیفیت آموزشی زبان آموزان فراهم کرده
                        ایم.</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->


    <div class="section level-background py-5">
       <div class="container">
            <div class="row">
                <!-- single question first -->
                <div class="col-10 mx-auto my-2 col-md-6 d-flex justify-content-between
        question-yellow p-4">
                    <a  class="question-icon mr-3">
                        <i class="fas fa-child"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">
                            زبانکده استقلال واقع در شهر جدید سهند
                        </h4>
                        <p class="question-info">اماده ارائه بهترین امکانات آموزشی به صورت حضوری و مجازی برای تمامی سطوح و تمامی سنین می باشد.برای کسب اطالاعات بیشتر در مورد سطح خود میتوانید از بخش زیر استفاده کنید. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- inventory section -->
    <section class="inventory py-5" id="inventory">
        <div class="container">
            <!-- section title-->
            <div class="row mb-5 my-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="section-title-special mx-1">levels</h1>
                    <h1 class="font-weight-bold align-self-center mx-1">our</h1>
                </div>
            </div>
            <!-- end section title-->

            <div class="row">
                {% for item in levels %}


                    <div class="card col-10 mx-auto my-3 col-md-6 col-lg-6 ">
                        <img class="card-img-top img-fluid embed-responsive"
                             style=" min-height: 320px ; max-height: 320px"
                             src="{{ item.image.url }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title text-center font-weight-bold">{{ item.title }}</h4>
                            <!--<pre class="card-text text-center text-justify"-->
                            <!--     style="font-family: sans-serif">{{ item.short_description }}</pre>-->
                            <div class="row d-flex justify-content-center">
                                <a href="{{ item.get_absolute_url }}"
                                   class="btn btn-outline-info text-center featured featured-item font-weight-bold">در
                                    مورد این سطح بیشتر بدانید</a>

                            </div>

                        </div>
                    </div>

                {% endfor %}


            </div>
        </div>
    </section>
    <!-- End inventory section -->



    <section class="featured py-5" id="featured">
        <div class="container">
            <!--Section Title-->
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">مقررات کانون زبان</h1>
                    <h1 class="section-title-special mx-1">استقلال</h1>
                </div>
            </div>
            <!-- End Section Title-->

            <div class="row">
                <!--featured info-->
                <div class="text-justify my-3 featured-info ">

                    <!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
        flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-check"></i>
          </span>
                        <h5 class="font-weight-bold mx-1">رعایت کامل شئونات اسلامی و استفاده از پوشش متین و متناسب با محیط فرهنگی</h5>

                    </div>
                    <!--End Single Item-->
<!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
       align-items-baseline flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-check"></i>
          </span>
                        <h5 class="font-weight-bold  mx-1" style="display: inline">اجتناب از هر گونه استفاده از تلفن همراه در محیط کلاس
حضور به موقع و بدون تاخير در کلاس (اساتيد مجاز به محاسبه تاخيرهاي غير مجاز و بيش ازحد زبان آموزان بعنوان غيبت هستند)</h5>

                    </div>
                    <!--End Single Item-->
<!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
       align-items-baseline flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-check"></i>
          </span>
                        <h5 class="font-weight-bold mx-1">عدم غیبت (موجه یا غیر موجه) بیش از ۳ جلسه در طول 1 ترم (غیبت بیشتر از ۳ جلسه در ترم منجر به محرومیت زبان آموز از شرکت در آزمون پایان ترم خواهد شد)</h5>

                    </div>
                    <!--End Single Item-->
<!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
       align-items-baseline flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-check"></i>
          </span>
                        <h5 class="font-weight-bold mx-1">انجام کلیه تکالیف مربوط به کلاس  </h5>

                    </div>
                    <!--End Single Item-->
<!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
       align-items-baseline flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-check"></i>
          </span>
                        <h5 class="font-weight-bold mx-1">رعایت کلیه مقررات داخلی و آموزشی</h5>

                    </div>
                    <!--End Single Item-->
<!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
       align-items-baseline flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-check"></i>
          </span>
                        <h5 class="font-weight-bold mx-1">حداقل نمره قبولی کل در هر ترم ۷۵ میباشد</h5>

                    </div>
                    <!--End Single Item-->


                </div>
            </div>

        </div>
    </section>




    <div class="section question py-5">
        <div class="container">
            <div class="row">
                <!-- single question first -->
                <div class="col-10 mx-auto my-2 col-md-6 d-flex justify-content-between
        question-yellow p-4">
                    <a href="#" class="question-icon mr-3">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">
                            دنبال کلاس میگردید؟
                        </h4>
                        <p class="question-info">
                            با جابجایی پنل زیر میتوانید آخرین کلاس هارو مشاهده کنید و یا اینکه اسم کلاس رو باکس پایین
                            جستجو کنید،جهت درخواست کلاس خصوصی از بخش ارتباطات با ما در ارتباط باشید.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--inventory-->
    <section class="inventory py-5 " id="inventory">
        <div class="container">
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">classes</h1>
                    <h1 class="section-title-special mx-1">our</h1>
                </div>


            </div>
            <form action="/courses/search" method="get">
                <div class="input-group">


                    <input type="text" class="form-control" placeholder="کلاس مورد نظر خود را از همینجا جستجو کنید"
                           value="{{ request.GET.q }}" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </div>
            </form>


            <br>
            <br>
            <br>


            <div class="container-fluid">

                <div id="myCarousel" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner  row w-100 mx-auto">


                        {% for course in courses %}
                            <div class="carousel-item col-md-4 {% if forloop.first %}active{% endif %}">
                                <div class="card">
                                    <img class="card-img-top img-fluid embed-responsive"
                                         style=" min-height: 320px ; max-height: 320px"
                                         src="{{ course.image.url }}"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title text-center font-weight-bold">{{ course.title }}</h4>
                                        <p class="card-text truncate-overflow text-justify">{{ course.description }}</p>
                                        <div class="row align-self-center">
                                            <a href="{{ course.get_absolute_url }}"
                                               class="btn btn-outline-info featured featured-item font-weight-bold mx-1">جزئیات
                                                بیشتر</a>

                                        </div>
                                        <p class="card-text text-right"><small
                                                class="text-muted">مدرس: {{ course.teacher }}</small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!--end inventory-->

    <div class="section question py-5">
        <div class="container">
            <div class="row">
                <!-- single question first -->
                <div class="col-10 mx-auto my-2 col-md-6 d-flex justify-content-between
        question-gray p-4">
                    <a href="#" class="question-icon mr-3">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">
                            دنبال کتاب میگردید؟
                        </h4>
                        <p class="question-info">

                            با جابجایی پنل زیر میتوانید آخرین کتاب های اضافه شده رو مشاهده کنید و یا اینکه اسم کتاب رو
                            باکس پایین
                            جستجو کنید،جهت سفارش کتاب میتوانید آنرا به سبد خرید اضافه کرده و از پنل سبد خرید اقدام به
                            پرداخت نمایید،محصول در اسرع وقت به دستتان میرسد.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--product inventory-->
    <section class="inventory py-5 " id="product">
        <div class="container">
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">product</h1>
                    <h1 class="section-title-special mx-1">our</h1>
                </div>
            </div>

            <form action="/products/search" method="get">
                <div class="input-group">


                    <input type="text" class="form-control" placeholder="کتاب مورد نظر خود را از همینجا جستجو کنید"
                           value="{{ request.GET.q }}" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </div>
            </form>
            <br>
            <br>
            <br>


            <div class="container-fluid">

                <div id="myCarousel2" class="carousel slide" data-ride="carousel2">
                    <div class="carousel-inner row w-100 mx-auto">
                        {% for course in products %}
                            <div class="carousel-item col-md-4 {% if forloop.first %}active{% endif %}">
                                <div class="card">
                                    <img class="card-img-top img-fluid embed-responsive"
                                         style=" min-height: 320px ; max-height: 320px"
                                         src="{{ course.image.url }}"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title text-center font-weight-bold">{{ course.title }}</h4>
                                        <p class="card-text truncate-overflow text-justify">{{ course.description }}</p>
                                        <div class="row align-self-center">
                                            <a href="{{ course.get_absolute_url }}"
                                               class="btn btn-outline-info featured featured-item font-weight-bold mx-1">جزئیات
                                                بیشتر</a>

                                        </div>
                                        <p class="card-text text-right"><small class="text-muted">کد
                                            محصول: {{ course.id_num }}</small></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!--end product inventory-->

    <!-- Question Section -->
    <div class="section question py-5" id="question">
        <div class="container">
            <div class="row">
                <!-- single question first -->
                <div class="col-10 mx-auto my-2 col-md-6 d-flex justify-content-between
        question-gray p-4">
                    <a href="/news" class="question-icon mr-3">
                        <i class="fas fa-list-ul fa-fw"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">
                            ازمون بی خبری؟
                        </h4>
                        <p class="question-info">با پنل اخبار از آخرین اخبار زبانکده خبر داشته باش </p>
                    </div>
                </div>
                <!-- single question socond -->
                <div class="col-10 mx-auto my-2 col-md-6 d-flex justify-content-between
        question-yellow p-4">
                    <a href="/register" class="question-icon mr-3">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">
                            پنل کاربری برات فعال نیست؟
                        </h4>
                        <p class="question-info">برای فعال شدن پنل کاربری ابتدا باید فرایند ثبت نام برات تکمیل شه بعد
                            میتونی از امکانات سایت استفاده کنی
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end question-->

    <!-- feature -->
    <section class="featured py-5" id="featured">
        <div class="container">
            <!--Section Title-->
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">teachers</h1>
                    <h1 class="section-title-special mx-1">our</h1>
                </div>
            </div>
            <!-- End Section Title-->

            <div class="row">
                <!--featured info-->
                <div class="col-10 mx-auto col-lg-6 featured-info my-3">
                {% for teacher in teachers %}
                          <!--Single Item-->
                    <div class="featured-item my-3 d-flex p-2 text-capitalize
       align-items-baseline flex-wrap">
          <span class="featured-icon mr-2">
            <i class="fas fa-user"></i>
          </span>
                        <h5 class="font-weight-bold mx-1">{{ teacher.last_name}}</h5>
                        <h5 class="mx-1">{{ teacher.first_name }}</h5>
                    </div>
                    <!--End Single Item-->

                    {% endfor %}

                </div>
                <!--featured img-->
                <div class="col-10 mx-auto col-lg-6 featured-img my-3 align-self-center">
                    <div class="img-container">
                        <img src="{% static 'my-img/697871.jpg' %}" alt=""
                             class="img-fluid featured-photo">

                    </div>
                </div>
            </div>

        </div>
    </section>


    <!--end feature -->

    <!--gallery -->
    {#    <section class="gallery py-5" id="gallery">#}
    {#        <div class="container">#}
    {#            <div class="row mb-5">#}
    {#                <div class="col d-flex flex-wrap text-uppercase justify-content-center">#}
    {#                    <h1 class="font-weight-bold align-self-center mx-1">our</h1>#}
    {#                    <h1 class="section-title-special mx-1">gallery</h1>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {##}
    {#            <div class="row">#}
    {#                <div class="col-sm-6">#}
    {#                    <div class="gallery-item">#}
    {#                        <img src="{% static 'my-img/eliott-reyna-kcT-7cirBEw-unsplash.jpg' %}" alt=""#}
    {#                             class="img-fluid gallery-img">#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-sm-6 d-flex flex-column justify-content-between">#}
    {#                    <div class="row">#}
    {#                        <div class="col-sm-6">#}
    {#                            <div class="gallery-item">#}
    {#                                <img src="{% static 'my-img/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg' %}" alt=""#}
    {#                                     class="img-fluid gallery-img">#}
    {##}
    {#                            </div>#}
    {##}
    {#                        </div>#}
    {#                        <div class="col-sm-6">#}
    {#                            <div class="gallery-item">#}
    {#                                <img src="{% static 'my-img/eliott-reyna-kcT-7cirBEw-unsplash.jpg' %}" alt=""#}
    {#                                     class="img-fluid gallery-img">#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="row">#}
    {#                        <div class="col-sm-6">#}
    {#                            <div class="gallery-item">#}
    {#                                <img src="{% static 'my-img/copy-space-woman-reading-book.jpg' %}" alt=""#}
    {#                                     class="img-fluid gallery-img">#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6">#}
    {#                            <div class="gallery-item">#}
    {#                                <img src="{% static 'my-img/book_curve_education_indoor_library_light_school.jpg' %}"#}
    {#                                     alt=""#}
    {#                                     class="img-fluid gallery-img">#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {##}

    <!--end gallery -->


{% endblock %}