{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}
{% block content %}
    <div class="container">
        <link rel="stylesheet" href="{% static 'css/main3.css' %}">
        <div class="content">

            <div class="container">
                <div class="row align-items-stretch no-gutters contact-wrap">
                    <div class="col-md-12">
                        <div class="form h-100">
                            <h2 class="title text-center">حذف کلاس</h2>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}


                                <hr>
                                {{ form.id_num }}

                                <br>
                                <br>


                                <div class="form-group col-md-12 pull-right">
                                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسال">
                                </div>
                            </form>

                            {% if choose_course is True %}
                                <form method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
<h3>برای این شناسه چندین کلاس ثبت شده است،کلاس مد نظر خود را جهت حذف انتخاب
                                            کنید.انتخاب بیش از چند کلاس ممکن است.</h3>
                                    <select id='testSelect1' multiple name="dropdown"
                                            style="height: 320px;alignment: bottom ">


                                        <br>
                                        {% for course in course_list %}
                                            <option value='{{ course.id }}'>{{ course.title }}</option>
                                        {% endfor %}


                                    </select>
                                    <div class="form-group col-md-12 pull-right">
                                        <input type="submit" name="حذف" class="btn btn-primary pull-right" value="send">
                                    </div>
                                </form>


                            {% endif %}




                            <div id="form-message-warning mt-4"></div>
                            <div id="form-message-success">
                                اطلاعات با موفقیت ثبت شد
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
