{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}
{% block content %}

    <div class="container">
        <link rel="stylesheet" href="{% static 'css/main3.css' %}">
        <div class="content">

            <div class="container">
                <div class="form-group">    <!--		Show Numbers Of Rows 		-->
                  <select class="form-control" name="state" id="maxRows">
                        <option value="5000">Show ALL Rows</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="70">70</option>
                        <option value="100">100</option>
                    </select>

                </div>
                <div class="row">

                    <div class="col-md-12" style="overflow-x:auto;">


                        <table class="table table-hover table-bordered  text-center" style="width: 100%">
                            <thead class="thead thead-dark text-center" style="width: 100%">
                            <tr>
                                <th>ردیف</th>
                                <th>نام سفارش دهنده</th>
                                <th>سفارشات</th>
                                <th>قیمت</th>
                                <th>تعداد سفارش</th>

                                <th>کد محصول</th>
                                <th>کد پیگیری</th>
                                <th class="table-success">تاریخ پرداخت</th>


                            </tr>
                            </thead>

                            <tbody style="width: 100%">

                            {% for key, value in dic.items %}
                                <tr>

                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ value.0 }}</td>

                                    <td class="m-0">
                                        {% for key1, value1 in value.1.items %}
                                            <table class="table table-hover table-striped m-0 ">
                                            <tr>
                                                <td>{{ value1.1 }}</td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </td>

                                    <td>
                                        {% for key1, value1 in value.1.items %}
                                            <table class="table table-hover table-striped m-0">
                                                <tr>
                                                    <td>{{ value1.2 }}</td>

                                                </tr>

                                            </table>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for key1, value1 in value.1.items %}
                                            <table class="table table-hover table-striped m-0">
                                                <tr>
                                                    <td>{{ value1.0 }}</td>

                                                </tr>

                                            </table>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        {% for key1, value1 in value.1.items %}
                                            <table class="table table-hover table-striped m-0">
                                                <tr>
                                                    <td>{{ key1 }}</td>

                                                </tr>

                                            </table>
                                        {% endfor %}
                                    </td>
                                    <td>{{ value.2 }}</td>
                                    <td>{{ value.3 }}</td>



                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <nav class=" text-center">
                                <ul class="pagination justify-content-center">

                                    <li class="page-item" data-page="prev">
                                        <span> < <span class="sr-only">(current)</span></span>
                                    </li>
                                    <!--	Here the JS Function Will Add the Rows -->
                                    <li class="page-item" data-page="next" id="prev">
                                        <span> > <span class="sr-only">(current)</span></span>
                                    </li>
                                </ul>
                            </nav>


                            </nav>

                        </div>

                    </div>


                </div>

            </div>


        </div>
    </div>
{% endblock %}




