{% extends 'shared/_MainLayout.html' %}
 {% load render_partial %} 
{% load static %} 
{% block content %}


<div class="container">
  <h2 class="text-center" style="padding-top: 150px">
    گزارش ثبت نام به تفکیک دوره
  </h2>
  <hr />
  <br />

  <div class="accordion pb-5" style="padding-top: 20px" id="accordionExample">
    {% for key, value in dic.items %}
    <div class="card">
      <div
        {% if value.show %}
        style="background-color: #f4e06d"
        {% endif %}
        class="card-header"
        id="headingOne"
      >
        <h5 class="mb-0">
          <button
            style="color: black; font-size: 24px"
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#C{{ forloop.counter }}"
            aria-expanded="false"
            aria-controls="C{{ forloop.counter }}"
          >
            {{ value.course.title }}
          </button>
        </h5>
      </div>

      <div
        id="C{{ forloop.counter }}"
        class="collapse {% if value.show %} show {% endif %}"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">کد ملی</th>
                <th scope="col">هزینه ثبت نام</th>
                <th scope="col">وضعیت ثبت نام</th>
              </tr>
            </thead>
            <tbody>
              {% for stu in value.students %}
             
              <tr id="R{{stu.id_num}}"  data-toggle="modal" data-target='#M' onClick=show(event) >
                
                <th scope="row">{{forloop.counter}}</th>
                <td class="row-data" >  {{stu.name}} </td>
                <td class="row-data" value='{{stu.cid}}'>{{stu.id_num}}</td>
                <td class="row-data"  value='{{stu.sid}}'>{{stu.price}}</td>
                <td class="row-data" value='{{value.show}}'> 
                  {% if not value.show %}
                  <i
                    class="fa fa-check"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                  {% else %}
                  <i
                    class="fa fa-times"
                    aria-hidden="true"
                    style="color: red"
                  ></i>
                  {% endif %}
                </td>
              </tr>


              
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>



<!-- Modal -->
<div class="modal fade" id='M' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ویرایش اطلاعات</h5>
        <button style="position:fixed;left:25px" type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 1rem 3rem 3rem 3rem ">
        {% comment %} <h6 id="modal_body"></h6> {% endcomment %}

          <form method='post'  action="/edit_student_via_modal">

            {% csrf_token %}




            <label >نام و نام خانوادگی :</label>
            <input  style="width : 100%" id="Ifull_name"  class="form-control" type="text"  readonly>
            <input name="sid" style="width : 100%" id="Isid"  class="form-control" type="hidden">
    
            <div class="form-group mt-2 text-right"   >
              <label for="exampleFormControlSelect1">کلاس :</label>
              <select name='course' class="form-control" id="ICourseSelect" value='{{courses}}' >
                
              </select>
            </div>
    
    
            <div class="form-check text-center pt-2">
              <input name='is_registered' class="form-check-input" type="checkbox"  id="IIsRegistered">
              <label class="form-check-label" for="defaultCheck1">
                ثبت نام کرده است؟
              </label>
            </div>
    

<div class="modal-footer pt-3">
        <button type="button" class="btn btn-danger" data-dismiss="modal">لغو</button>
        <button type="submit" class="btn btn-success mr-3">ذخیره اطلاعات</button>
      </div>

          </form>




      </div>
      
    </div>
  </div>
</div>
  
</div>

{% endblock %}
