{% extends 'shared/_MainLayout.html' %} {% load render_partial %} {% load static %} {% block content %}

<div class="container">
  <h2 class="text-center" style="padding-top: 150px">
    گزارش ثبت نام به تفکیک دوره
  </h2>
  <hr />
  <br />
  <div class="accordion pb-5" style="padding-top: 20px" id="accordionExample">
    {% for key, value in dic.items %}


    <div class="card mt-2">
      <div {% if value.show %} style="background-color: #f4e06d" {% endif %} class="card-header" id="heading{{key}}">
        <h5 class="mb-0">
          <button style="color: black; font-size: 24px" class="btn btn-link" type="button" data-toggle="collapse"
            data-target="#C{{ forloop.counter }}" aria-expanded="false" aria-controls="C{{ forloop.counter }}">
            {{ value.course.title }}
          </button>

          دبیر : {{value.course.teacher.last_name}}


          <button style="color: black;cursor : pointer; font-size: 20px ; background-color : transparent ; position : absolute ;left : 15px"
            class="btn btn-outline-danger" data-toggle="modal" data-target="#P" onClick="show2(event)" value="{{key}}" id="R{{key}}">
ویرایش
          </button>


          <input class="course-data" hidden id="courseId" value={{key}} />
          <input class="course-data" hidden id="courseName" value="{{value.course.title}}" />
          <input class="course-data" hidden id="teachers" value="{{teachers}}" />
          <input class="course-data" hidden id="isActive" value="{{value.course.active}}" />
          <input class="course-data" hidden id="tid" value="{{value.course.teacher.id}}" />
          <input class="course-data" hidden id="ncid" value="{{value.course.next_course.id}}" />



        </h5>
      </div>

      <div id="C{{ forloop.counter }}" class="collapse {% if value.show %} show {% endif %}"
        aria-labelledby="heading{{key}}" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">کد ملی</th>
                <th scope="col">هزینه ثبت نام</th>
                <th scope="col">وضعیت ثبت نام</th>
              </tr>
            </thead>
            <tbody>
              {% for stu in value.students %}

              <tr id="R{{stu.id_num}}" data-toggle="modal" data-target="#M" onClick="show(event)">
                <th scope="row">{{forloop.counter}}</th>
                <td class="row-data">{{stu.first_name}} {{stu.last_name}}</td>
                <td class="row-data" value="{{value.course.id}}">{{stu.id_num}}</td>
                <td class="row-data" value="{{stu.id}}">{{value.course.price}}</td>
                <td class="row-data" value="{{stu.is_registered}}">
                  {% if stu.is_registered %}
                  <i class="fa fa-check" aria-hidden="true" style="color: green"></i>
                  {% else %}
                  <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                  {% endif %}
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  {% endfor %}

  </div>

  {% include 'shared/student_modal.html' %}

  {% include 'shared/course_modal.html' %}

</div>

{% endblock %}