{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WGJJWR3');</script>
<!-- End Google Tag Manager -->
    <meta name="googlebot" content="index">
    <meta name='description' content="برگزاری کلاسها در تمامی سطوح خردسالان،کودکان،نوجوانان و بزرگسالان بصورت گروهی یا خصوصی،آنلاین یا حضوری "/>
    <meta name='keywords' content="اموزشگاه استقلال,زبانکده استقلال,استقلال,زبان,زبان انگلیسی"/>
    <meta name="geo.region" content="IR" />
    <meta name="geo.placename" content="sahand" />
    <meta name="geo.position" content="37.93998;46.12441" />
    <meta name="ICBM" content="37.93998, 46.12441" />
    <link rel="shortcut icon"  type="image/gif">
    <title>آموزشگاه استقلال</title>
    {% include 'shared/_HeaderReferences.html' %}
    {% block header_ref %}{% endblock %}

</head>
<body class="vi">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGJJWR3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% render_partial 'header' %}

{% block content %}{% endblock %}
{% render_partial 'footer' %}
{% include 'shared/_FooterReferences.html' %}
{% block footer_ref %}{% endblock %}

<script src="//code.tidio.co/7oeavu7qsvhrghdfl14r7ipeasdkjlk2.js" async></script>
</body>

</html>