{% load static %}
<footer class="footer py-5">

    <div class="footer-icons d-flex justify-content-around">
        <a href="#" class="footer-icon">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#" class="footer-icon">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="footer-icon">
            <i class="fab fa-instagram"></i>
            <!--@iman_madaeny-->
        </a>
        <a href="#" class="footer-icon">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="footer-icon">
            <i class="fab fa-google-plus"></i>
        </a>
    </div>


</footer>