{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/enter_mark_cards.css' %}">

    <div class="container">
        <link rel="stylesheet" href="{% static 'css/main3.css' %}">


        <div class="content">


            <div class="container">
                <div class="row align-items-stretch no-gutters contact-wrap">
                    <div class="col-md-12">
                        <div class="form h-100 text-center">

                            <h2 class="title text-center">ویرایش نمره</h2>
                            <hr class="solid">
                            <br>


                                <div class="container"
                                     style="background: #c5e1a5;color: #0d0d0d;font-size: 20px;border-radius: 10rem">


                                    شما در حال ویرایش کردن نمره <span style="font-weight: bold"> {{ full_name }} </span>
                                    در
                                    کلاس <span style="font-weight: bold;"> {{ class_name }} </span> هستید
                                    <span> <a href="{% url 'edit-mark-choose-course' %}" style="color: #CC3434;font-size: 15px !important;">برای انتخاب مجدد اینجا کلیک نمایید</a> </span>
                                </div>

                                <br>
                                <hr class="solid">
                                <br>

                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="row">
                                        <div class="col-md-6" style="font-weight: bold">
                                            {{ form.class_activity.label_tag }}
                                            {{ form.class_activity }}
                                        </div>
                                        <div class="col-md-6" style="font-weight: bold">
                                            {{ form.quizzes.label_tag }}
                                            {{ form.quizzes }}
                                        </div>
                                    </div>
                               <br>

                                    <div class="row">
                                        <div class="col-md-6" style="font-weight: bold">
                                            {{ form.midterm.label_tag }}
                                            {{ form.midterm }}
                                        </div>
                                        <div class="col-md-6" style="font-weight: bold">
                                            {{ form.final.label_tag }}
                                            {{ form.final }}
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md-6" style="font-weight: bold">
                                            {{ form.extra_mark.label_tag }}
                                            {{ form.extra_mark }}
                                        </div>
                                        <div class="col-md-6" style="font-weight: bold">
                                            {{ form.total_mark.label_tag }}
                                            {{ form.total_mark }}
                                        </div>
                                    </div>
                                    <br>
                                    <hr class="solid">
                                    <br>

                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label style="font-weight: bold"
                                                   for="exampleFormControlSelect1">homework</label>
                                            <select required class="form-control" name="homework">
                                                <option value="" selected="selected" >انتخاب کنید</option>
                                                <option value="Out_Standing">Out Standing</option>
                                                <option value="Good">Good</option>
                                                <option value="Satisfactory">Satisfactory</option>
                                                <option value="Weak">Weak</option>

                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="exampleFormControlSelect1"
                                                   style="font-weight: bold">writing</label>
                                            <select required class="form-control" name="writing">
                                                <option value="" selected="selected" >انتخاب کنید</option>
                                                <option value="Out_Standing">Out Standing</option>
                                                <option value="Good">Good</option>
                                                <option value="Satisfactory">Satisfactory</option>
                                                <option value="Weak">Weak</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="exampleFormControlSelect1"
                                                   style="font-weight: bold">listening</label>
                                            <select required class="form-control" name="listening">
                                                <option value="" selected="selected" >انتخاب کنید</option>
                                                <option value="Out_Standing">Out Standing</option>
                                                <option value="Good">Good</option>
                                                <option value="Satisfactory">Satisfactory</option>
                                                <option value="Weak">Weak</option>

                                            </select>
                                        </div>


                                    </div>

                                    <br>
                                    <br>

                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label for="exampleFormControlSelect1"
                                                   style="font-weight: bold">speaking</label>
                                            <select required class="form-control" name="speaking">
                                                <option value="" selected="selected" >انتخاب کنید</option>
                                                <option value="Out_Standing">Out Standing</option>
                                                <option value="Good">Good</option>
                                                <option value="Satisfactory">Satisfactory</option>
                                                <option value="Weak">Weak</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="exampleFormControlSelect1"
                                                   style="font-weight: bold">reading</label>
                                            <select required class="form-control" name="reading">
                                                <option value="" selected="selected" >انتخاب کنید</option>
                                                <option value="Out_Standing">Out Standing</option>
                                                <option value="Good">Good</option>
                                                <option value="Satisfactory">Satisfactory</option>
                                                <option value="Weak">Weak</option>

                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="exampleFormControlSelect1" style="font-weight: bold">
                                                activity</label>
                                            <select required class="form-control" name="activity">
                                                <option value="" selected="selected" >انتخاب کنید</option>
                                                <option value="Out_Standing">Out Standing</option>
                                                <option value="Good">Good</option>
                                                <option value="Satisfactory">Satisfactory</option>
                                                <option value="Weak">Weak</option>

                                            </select>
                                        </div>

                                    </div>


                                    <br>
                                    <hr class="solid">
                                    <br>
                                    <div class="form-group" name="total_work">
                                        <label for="exampleFormControlSelect1" style="font-weight: bold">عملکرد
                                            کلی</label>
                                        <select required class="form-control" name="total_work">
                                            <option value="" selected="selected" >انتخاب کنید</option>
                                            <option value="Out_Standing">Out Standing</option>
                                            <option value="Good">Good</option>
                                            <option value="Satisfactory">Satisfactory</option>
                                            <option value="Weak">Weak</option>

                                        </select>
                                    </div>


                                    <br>
                                    <hr class="solid">
                                    <br>

                                    <div class="row" style="font-weight: bold">
                                        {{ form.description.label }}
                                        {{ form.description }}
                                    </div>
                                    <br>
                                    <hr class="solid">
                                    <br>
                                    <div class="form-group col-md-12 pull-right">
                                        <input type="submit" name="ارسال" class="btn btn-primary pull-right"
                                               value="ارسال">
                                    </div>
                                </form>


                            <div id="form-message-warning mt-4"></div>
                            <div id="form-message-success">
                                اطلاعات با موفقیت ثبت شد
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
