{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load static %}
{% block content %}


    <div class="container">
        <link rel="stylesheet" href="{% static 'css/main3.css' %}">


        <div class="content">

            <div class="container">
                <div class="row align-items-stretch no-gutters contact-wrap">
                    <div class="col-md-12">
                        <div class="form h-100 text-center">

                            <h2 class="title text-center"> کارنامه</h2>
                            <hr>
                            <br>


                            {% if marks is None %}

                                <b>هنوز هیچ نمره ای وارد نشده است</b>

                            {% else %}

                                <div class="col-md-12">


                                    <style>
                                        table {
                                            font-family: arial, sans-serif;
                                            border-collapse: collapse;
                                            width: 80%;
                                        }

                                        td, th {
                                            border: 1px solid #dddddd;
                                            text-align: left;
                                            padding: 8px;
                                        }

                                        tr:nth-child(even) {
                                            background-color: #dddddd;
                                        }
                                    </style>

                                    <table class="col-md-12 ">
                                        <tr>
                                            <td>{{ marks.course_name }}</td>
                                            <th>Course</th>

                                        </tr>
                                        <tr>
                                            <td>{{ full_name }}</td>
                                            <th>Student Name</th>

                                        </tr>
                                        <tr>
                                            <td>{{ marks.total_work }}</td>
                                            <th>Total work</th>

                                        </tr>
                                        <tr>
                                            <td>{{ marks.class_activity }}1</td>
                                            <th>Class Activity</th>

                                        </tr>
                                        <tr>
                                            <td>{{ marks.quizzes }}</td>
                                            <th>Quizzes</th>

                                        </tr>
                                        <tr>
                                            <td>{{ marks.midterm }}</td>
                                            <th>Midterm</th>

                                        </tr>
                                        <tr>
                                            <td>{{ marks.final }}</td>
                                            <th>Final</th>

                                        </tr>
                                        <tr>
                                            <td>{{ marks.total_mark }}</td>
                                            <th>Total Mark</th>

                                        </tr>

                                    </table>
                                    <br>
                                <hr class="dotted">
                                <br>

                                    <strong class="fadeInDown">activity</strong>
                                    <div class=" fadeInDown text-center mx-5">
                                        <div class="progress" style="height:30px">
                                            <div class="progress-bar
                                            {% if activity == 100 %}
                                            bg-success
                                            {% elif activity == 75 %}
                                            bg-primary
                                            {% elif activity == 50 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}"
                                                 role="progressbar" style="width: {{ activity }}%;height:30px"
                                                 aria-valuenow="{{ activity }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ activity }}</div>
                                        </div>
                                    </div>

                                    <strong class="fadeInDown">speaking</strong>
                                    <div class=" fadeInDown text-center mx-5">
                                        <div class="progress" style="height:30px">
                                            <div class="progress-bar
                                            {% if speaking == 100 %}
                                            bg-success
                                            {% elif speaking == 75 %}
                                            bg-primary
                                            {% elif speaking == 50 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}"
                                                 role="progressbar" style="width: {{ speaking }}%;height:30px"
                                                 aria-valuenow="{{ speaking }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ speaking }}</div>
                                        </div>
                                    </div>

                                    <strong class="fadeInDown">listening</strong>
                                    <div class=" fadeInDown text-center mx-5">
                                        <div class="progress" style="height:30px">
                                            <div class="progress-bar
                                            {% if listening == 100 %}
                                            bg-success
                                            {% elif listening == 75 %}
                                            bg-primary
                                            {% elif listening == 50 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}"
                                                 role="progressbar" style="width: {{ listening }}%;height:30px"
                                                 aria-valuenow="{{ listening }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ listening }}</div>
                                        </div>
                                    </div>

                                    <strong class="fadeInDown">writing</strong>
                                    <div class=" fadeInDown text-center mx-5">
                                        <div class="progress" style="height:30px">
                                            <div class="progress-bar
                                            {% if writing == 100 %}
                                            bg-success
                                            {% elif writing == 75 %}
                                            bg-primary
                                            {% elif writing == 50 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}"
                                                 role="progressbar" style="width: {{ writing }}%;height:30px"
                                                 aria-valuenow="{{ writing }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ writing }}</div>
                                        </div>
                                    </div>

                                    <strong class="fadeInDown">homework</strong>
                                    <div class=" fadeInDown text-center mx-5">
                                        <div class="progress" style="height:30px">
                                            <div class="progress-bar
                                            {% if homework == 100 %}
                                            bg-success
                                            {% elif homework == 75 %}
                                            bg-primary
                                            {% elif homework == 50 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}"
                                                 role="progressbar" style="width: {{ homework }}%;height:30px"
                                                 aria-valuenow="{{ homework }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ homework }}</div>
                                        </div>
                                    </div>

                                    <strong class="fadeInDown">total_work</strong>
                                    <div class=" fadeInDown text-center mx-5">
                                        <div class="progress" style="height:40px">
                                            <div class="progress-bar
                                            {% if total_work == 100 %}
                                            bg-success
                                            {% elif total_work == 75 %}
                                            bg-primary
                                            {% elif total_work == 50 %}
                                            bg-warning
                                            {% else %}
                                            bg-danger
                                            {% endif %}"
                                                 role="progressbar" style="width: {{ total_work }}%;height:40px"
                                                 aria-valuenow="{{ total_work }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ total_work }}</div>




                                        </div>


                                    </div>

                                </div>


<br>
<section>
<hr class="dotted">
    <br>
<div >
    <h6 class="text-center animated fadeInDown" style="padding-top: 10px">نمودار وضعیت نهایی زبان اموز</h6>
</div>
 <div class="">

                                        <div class="row fadeInDown text-center">

                                            <div class="col-12">
                                                <div class="counter" data-cp-percentage="{{ mean }}" data-cp-color="#00bfeb">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
</section>



                                <br>
                                <div class="card text-center fadeInDown">
                                    <div class="card-header">
                                        {{ full_name }} عزیز
                                    </div>
                                    <div class="card-body">

                                        <pre style="font-family: sans-serif"
                                             class="card-text">{{ marks.description }}</pre>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{ teacher }}
                                    </div>
                                </div>







                            {% endif %}


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'js/final_chart.js' %}"></script>


{% endblock %}

